<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}"> 

	<head>
		<meta charset="UTF-8">
		<title>
			Title Here
		</title>
	</head>
	<body>
		<section>
		<div class="row">
		<div class="col-md-10 offset-md-1">
		<div class="card mt-3">
	   <div class="card-body"> 
	   <h4 style="text-align: center;">Employee Registration Form</h4>
	   <hr>
	<form th:action="@{/save-employee}" method="post" th:object="${employee}">
	<div class="row">
	<div class="col-md-3 mt-2">
    <label for="empName" class="form-label">Employee Name</label>
									
	</div>
								
    <div class="col-md-9 mt-2">
	<input type="text" class="form-control" name="employeeName" id="employeeName" th:field="*{employeeName}" autocomplete="off" >
	<p th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}" class="text-danger"></p>									
	</div>
	
	<div class="col-md-3 mt-2">
	    <label for="email" class="form-label">Email</label>
										
		</div>
									
	    <div class="col-md-9 mt-2">
		<input type="text" class="form-control" name="email" th:field="*{email}" id="email" autocomplete="off" >	
		<p th:if="${#fields.hasErrors('employeeName')}" th:errors="*{email}" class="text-danger"></p>								
		</div>
		
		<div class="col-md-3 mt-2">
		<label for="gender" class="form-label">Gender</label>
		</div>
		<div class="col-md-9 mt-2">
		<input class="form-check-input" type="radio" name="gender" th:field="*{gender}" id="gender" value="M"> Male	
		<input class="form-check-input ms-4" type="radio" name="gender" th:field="*{gender}" id="gender" value="F"> Female	
		<p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="text-danger"></p>								
								
		</div>
		
		
		<div class="col-md-3 mt-2">
		<label for="dateOfBirth" class="form-label">Date of Birth</label>
		</div>
		<div class="col-md-9 mt-2">
		<input type="date" class="form-control" name="dateOfBirth" th:field="*{dateOfBirth}" id="dateOfBirth" autocomplete="off" >
		<p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="text-danger"></p>								
									
		</div>
		
		
		<div class="col-md-3 mt-2">
		<label for="joinDate" class="form-label">Date of Join</label>
		</div>
	   <div class="col-md-9 mt-2">
		<input type="date" class="form-control" name="joinDate" th:field="*{joinDate}" id="joinDate" autocomplete="off" >		
		<p th:if="${#fields.hasErrors('joinDate')}" th:errors="*{joinDate}" class="text-danger"></p>								
							
	   </div>
	   
	   
	   <div class="col-md-3 mt-2">
	   <label for="mobileNumber" class="form-label">Mobile Number</label>
	   </div>
	   <div class="col-md-9 mt-2">
	   <input type="number" class="form-control" name="mobileNumber" th:field="*{mobileNumber}" id="mobileNumber" autocomplete="off" >	
	   <p th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}" class="text-danger"></p>								
								
	   </div>
	   
	   <div class="col-md-3 mt-2">
	   <label for="aadhaarNumber" class="form-label">Aadhaar Number</label>
	   	</div>
	   	<div class="col-md-9 mt-2">
	   	<input type="number" class="form-control" name="aadhaarNumber" th:field="*{aadhaarNumber}" id="aadhaarNumber" autocomplete="off" >
		<p th:if="${#fields.hasErrors('aadhaarNumber')}" th:errors="*{aadhaarNumber}" class="text-danger"></p>								
									
	   	</div>	  
		 
		<div class="col-md-3 mt-2">
	   <label for="accountNumber" class="form-label">Account Number</label>
	  </div>
	<div class="col-md-9 mt-2">
	<input type="number" class="form-control" name="accountNumber" th:field="*{accountNumber}" id="accountNumber" autocomplete="off" >	
	<p th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}" class="text-danger"></p>								
								
	</div>
	
	
	<div class="col-md-3 mt-2">
	<label for="Department" class="form-label">Department</label>
	</div>
	<div class="col-md-9 mt-2">	
		<select class="form-select" id="department" name="department"  onchange="updateDesignations()">
			<option selected="selected">Select Department</option>
			<option value="Development">Development</option>
			<option value="QA & Automation Testing">QA & Automation Testing</option>
			<option value="Networking">Networking</option>
			<option value="HR Team">HR Team</option>
			<option value="Security">Security</option>
			<option value="Sales & Marketing">Sales & Marketing</option>
			<p th:if="${#fields.hasErrors('department')}" th:errors="*{department}" class="text-danger"></p>								

		</select>
	</div>
	
	
	<div class="col-md-3 mt-2">
		   <label for="designation" class="form-label">Designation</label>
		  </div>
		<div class="col-md-9 mt-2">
			<select class="form-select" id="designation" name="designation">
				<option selected="selected">Select Designation</option>
			</select>
			</div>
	

<div class="col-md-3 mt-2">
<label for="previousCompany" class="form-label">Previous Company Name</label>
</div>
<div class="col-md-9 mt-2">
<input type="text" class="form-control" name="previousCompany" th:field="*{previousCompany}" id="previousCompany" autocomplete="off" >
<p th:if="${#fields.hasErrors('previousCompany')}" th:errors="*{previousCompany}" class="text-danger"></p>								
									
</div>	
	

<div class="col-md-3 mt-2">
<label for="pfNumber" class="form-label">PF Number</label>
</div>
<div class="col-md-9 mt-2">
<input type="text" class="form-control" name="pfNumber" th:field="*{pfNumber}" id="pfNumber" autocomplete="off" >	
<p th:if="${#fields.hasErrors('pfNumber')}" th:errors="*{pfNumber}" class="text-danger"></p>								
								
</div>	


<div class="col-md-3 mt-2">
<label for="salary" class="form-label">Salary</label>
</div>
<div class="col-md-9 mt-2">
<input type="number" class="form-control" name="salary" id="salary" autocomplete="off" >									
</div>	


<div class="col-md-3 mt-2">
<label for="currentAddress" class="form-label">Current Address</label>
</div>
<div class="col-md-9 mt-2">
<textarea rows="" cols="" name="currentAddress" th:field="*{currentAddress}" id="currentAddress" style="width: 100%;" >	</textarea>
<p th:if="${#fields.hasErrors('currentAddress')}" th:errors="*{currentAddress}" class="text-danger"></p>								
								
</div>	


<div class="col-md-3 mt-2">
<label for="permanentAddress" class="form-label">Permanent Address</label>
</div>
<div class="col-md-9 mt-2">
<textarea rows="" cols="" name="permanentAddress" th:field="*{permanentAddress}" id="permanentAddress" style="width: 100%;" >	</textarea>
<p th:if="${#fields.hasErrors('permanentAddress')}" th:errors="*{permanentAddress}" class="text-danger"></p>								
</div>

<div class="col-md-3 mt-2">
<label for="role" class="form-label">Role</label>
</div>
<div class="col-md-9 mt-2">
	<select class="form-select" name="role" th:field="*{role}" id="role">
		<option value="USER">User</option>
		<option value="ADMIN">Admin</option>
	</select>
	<p th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="text-danger"></p>
</div>	

<div class="col-md-3 mt-2">
<label class="form-check-label" for="active">Active</label>
</div>
<div class="col-md-9 mt-2 form-check form-switch form-switch">
<input style="font-size:25px" class="form-check-input ms-1" type="checkbox"  name="active" id="active"  checked="checked">									
</div>
	
	

			
	
	
	
	
	<div class="container text-center mt-3">
	<input type="submit" value="Submit" class="btn btn-success">		
	</div>
		
		 
			
	
	</div>
	</form>
						
	</div>	
						
	</div>
					
	</div>
	</div>
	</section>
		
	</body>
</html>