<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}"> 

	<head>
		<meta charset="UTF-8">
		<title>
			Title Here
		</title>
	</head>
	<body>
		<section>
			<h4 style="text-align: center;">All Employee</h4>
			<hr>
			<div class="container-fluid mt-3 table-tesponsive">
				<table id="example" class="display nowrap" style="width:100%">
					<thead>
						<tr>
							<th>S.No</th>
							<th>Employee Name</th>
							<th>Email</th>
							<th>Gender</th>
							<th>Date of Birth</th>
							<th>Joining Date</th>
							<th>Mobile  Number</th>
							<th>Aadhaar Number</th>
							<th>Account Number</th>
							<th>Department</th>
							<th>Previous Company</th>
							<th>PF Number</th>
							<th>Salary</th>
							<th>Current Address</th>
							<th>Permanent Address</th>
							<th>Active</th>
							<th>Action</th>
						</tr>
					</thead>

				 
                <tbody>
				<tr th:each="e : ${allEmployee}">
				<td th:text="'HMP'+${e.id}">1</td>
				<td th:text="${e.employeeName}">Amit Sharma</td>
				<td th:text="${e.email}">amit.sharma@example.com</td>
				<td th:text="${e.gender}">Male</td>
				<td th:text="${e.dateOfBirth}">1990/02/15</td>
				<td th:text="${e.joinDate}">2023/05/10</td>
				<td th:text="${e.mobileNumber}">9876543210</td>
				<td th:text="${e.aadhaarNumber}">1234-5678-9101</td>
				<td th:text="${e.accountNumber}">0987654321</td>
				<td th:text="${e.department}">Development</td>
				<td th:text="${e.designation}">TCS</td>
				<td th:text="${e.pfNumber}">PF12345</td>
				<td th:text="${e.salary}">₹50,000</td>
				<td th:text="${e.currentAddress}">123 Current St, Delhi</td>
				<td th:text="${e.permanentAddress}">456 Permanent St, Delhi</td> 
				<td th:text="${e.active}">Yes</td>
				<td>
				<a th:onclick="|editRecord(${e.id})|" style="color: blue; cursor: pointer;" class="fa-solid fa-pen-to-square ms-2"></a> 
				<i th:onclick="|deleteRecordById(${e.id})|" style="color: red; cursor: pointer;" class="fas fa-trash ms-2"></i>
				</td>
				</tr>
				</tbody>
				</table>
			</div>	
		</section>
		
	</body>
</html>