<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}"> 

	<head>
		<meta charset="UTF-8">
		<title>
			Title Here
		</title>
	</head>
	<body>
		<section>
			<h1></h1>
			<div class="row">
			<div class="col-6 col-sm-2 mt-2">
			<div class="card" style="cursor: pointer;">
			<div class="card-body">
			<b>Development [9]</b>
			</div>
			</div>
					
			</div>
			<div class="col-6 col-sm-2 mt-2">
			<div class="card" style="cursor: pointer;">
			<div class="card-body">
			<b>QA Testing [5]</b>
			</div>
			</div>
			</div>
						
			<div class="col-6 col-sm-2 mt-2">
			<div class="card" style="cursor: pointer;">
														<div class="card-body">
															<b>Networking [8]</b>
														</div>
													</div>
													
											</div>
											
											<div class="col-6 col-sm-2 mt-2">
																		<div class="card" style="cursor: pointer;">
																			<div class="card-body">
																				<b>HR Team [4]</b>
																			</div>
																		</div>
																		
																</div>
																
																<div class="col-6 col-sm-2 mt-2">
																							<div class="card" style="cursor: pointer;">
																								<div class="card-body">
																									<b>Security [2]</b>
																								</div>
																							</div>
																							
																					</div>
																					
																					<div class="col-6 col-sm-2 mt-2">
																												<div class="card" style="cursor: pointer;">
																													<div class="card-body">
																														<b>Sales Marketing [1]</b>
																													</div>
																												</div>
																												
																										</div>
																										
																										<divdiv class="row">
																											<div class="col-6 col-sm-2 mt-2">
<div class="card" style="cursor: pointer;">
<div class="card-body bg-warning">
<b>Pending [9]</b>
</div>
</div>
</div>
<div class="col-6 col-sm-2 mt-2">																																																								
<div class="card" style="cursor: pointer;">																																																								
<div class="card-body  bg-success">

																																																								
																																																										
																																																								
<b style="color: white;">Approved [5]</b>
																																																								</div>
																																																								</div>
																																																								</div>
																																																											
																																																								<div class="col-6 col-sm-2 mt-2">
																																																								<div class="card" style="cursor: pointer;">
																																																								<div class="card-body bg-info">
																																																								<b style="color: white">Cancelled [8]</b>
																																																								</div>
																																																							</div>
																																																																		
																																																						</div>																													
																																					
<div class="col-6 col-sm-2 mt-2">
<div class="card" style="cursor: pointer;">
<div class="card-body bg-danger">
<b style="color: white">Denied [4]</b>
</div>
</div>
																																												
</div>
																																										
<div class="col-6 col-sm-2 mt-2">
<div class="card" style="cursor: pointer;">
<div class="card-body bg-primary">
<b style="color: white">All [26]</b>
</div>
</div>
																																																	
</div>
																																															
<div class="col-6 col-sm-2 mt-2">
<div class="card" style="cursor: pointer;">
<div class="card-body bg-secondary">
<b style="color: white">Remainder [1]</b>
</div>
</div>
																																																						
</div>
</div>


<!-- End above Status-->
<div class="row ab-5">
	<div class="col-md-8 mt-3">
	<div class="card">
		<div class="card-body">
			<h5>Recent Activity</h5>
			<hr>	
			
			<table  class="table" style="width: 100%;">
										<thead>
											<tr>
										
								<th>S.No</th> 
								
								<th>Subject</th> 
								<th>Description</th>
							
								<th>Date</th> 
								<th>For Approve</th> 
								</tr>
								<thead>
									<tbody>
										<tr th:each="e,i : ${statusList}">
											<td th:text="${i.index + 1}">1</td>
											
											<td th:text="${e.subject}">Application</td>
											<td th:text="${e.text}">Hello sir I want 10 days leave because I am going for training</td>
											<td th:text="${e.addeddate}">2024-04-01</td>
											<td style="cursor: pointer">
												
												
													<span th:text="${e.status}"></span>
												
												
											</td>
										</tr>
									</tbody>
								
								</table>
		</div>
		
	</div>
	</div>
	
			
	<div class="col-md-4 mt-3">
		<div class="card">
		<div class="card-body">
		<h5>Up Coming Birthday,and Anniversary</h5>	
		<hr>
		<div class="d-flex justify-content-around w-100 mt-2">
			<img alt="A photo" src="https://cdn.britannica.com/36/220836-050-69A82C77/Robert-Pattinson-2019.jpg" style="height:35px;width:35px;border-radius: 50%;">
			<b class="mt-1">Robert Pattinson</b>
			<i class="fa-solid fa-cake-candles mt-1" style="color:red"></i>
			<span class="mt-1">13-02-2025</span>
			
		</div>
		
		<div class="d-flex justify-content-around w-100 mt-2">
					<img alt="A photo" src="https://d3i6fh83elv35t.cloudfront.net/static/2024/03/2024-03-12T170255Z_2139061719_RC2HK6AG04QB_RTRMADP_3_RUSSIA-PUTIN-1200x855.jpg" style="height:35px;width:35px;border-radius: 50%;">
					<b class="mt-1">Vladimir Putin</b>
					<i class="fa-solid fa-gift  mt-1" style="color:green"></i>
					<span class="mt-1">18-01-2025</span>
					</div>
					<div class="d-flex justify-content-around w-100 mt-2">
								<img alt="A photo" src="https://cdn.britannica.com/36/220836-050-69A82C77/Robert-Pattinson-2019.jpg" style="height:35px;width:35px;border-radius: 50%;">
								<b class="mt-1">Robert Pattinson</b>
								<i class="fa-solid fa-cake-candles mt-1" style="color:red"></i>
								<span class="mt-1">13-02-2025</span>
								
							</div>
							
							<div class="d-flex justify-content-around w-100 mt-2">
										<img alt="A photo" src="https://d3i6fh83elv35t.cloudfront.net/static/2024/03/2024-03-12T170255Z_2139061719_RC2HK6AG04QB_RTRMADP_3_RUSSIA-PUTIN-1200x855.jpg" style="height:35px;width:35px;border-radius: 50%;">
										<b class="mt-1">Vladimir Putin</b>
										<i class="fa-solid fa-gift  mt-1" style="color:green"></i>
										<span class="mt-1">18-01-2025</span>
										</div>					
										<div class="d-flex justify-content-around w-100 mt-2">
													<img alt="A photo" src="https://cdn.britannica.com/36/220836-050-69A82C77/Robert-Pattinson-2019.jpg" style="height:35px;width:35px;border-radius: 50%;">
													<b class="mt-1">Robert Pattinson</b>
													<i class="fa-solid fa-cake-candles mt-1" style="color:red"></i>
													<span class="mt-1">13-02-2025</span>
													
												</div>
												
												<div class="d-flex justify-content-around w-100 mt-2">
															<img alt="A photo" src="https://d3i6fh83elv35t.cloudfront.net/static/2024/03/2024-03-12T170255Z_2139061719_RC2HK6AG04QB_RTRMADP_3_RUSSIA-PUTIN-1200x855.jpg" style="height:35px;width:35px;border-radius: 50%;">
															<b class="mt-1">Vladimir Putin</b>
															<i class="fa-solid fa-gift  mt-1" style="color:green"></i>
															<span class="mt-1">18-01-2025</span>
															</div>					
				
		</div>	
		</div>	
	</div>
</div>

																										
		</section>
		
	</body>
</html>