<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}"> 

	<head>
		<meta charset="UTF-8">
		<title>
			Title Here
		</title>
	</head>
	<body>
		<section>
			<div class="container mt-5">
				<table id="example" class="display nowrap" style="width: 100%;">
					<thead>
						<tr>
					
			<th>S.No</th> 
			<th>Name</th> 
			<th>Position</th> 
			<th>Subject</th> 
			<th>Description</th>
		
			<th>Date</th> 
			<th>For Approve</th> 
			</tr>
			<thead>
				<tbody>
					<tr th:each="e : ${statusList}">
						<td th:text="${e.id}">1</td>
						<td th:text="${e.empName}">Mayank Agarwal</td>
						<td th:text="${e.position}">System Architect</td>
						<td th:text="${e.subject}">Application</td>
						<td th:text="${e.text}">Hello sir I want 10 days leave because I am going for training</td>
						<td th:text="${e.addeddate}">2024-04-01</td>
						<td style="cursor: pointer">
							<span th:if="${e.status=='PENDING'}">
							<i th:onclick="|approved(${e.id},'APPROVED')|" style="color: green" class="fas fa-check-circle" title="Approved"></i>
							<i th:onclick="|approved(${e.id},'DENIED')|" style="color: red" class="fas fa-times-circle" title="Reject"></i>
							<i th:onclick="|approved(${e.id},'CANCELLED')|" style="color: aqua" class="fas fa-ban" title="Cancelled"></i>
							</span>
							<span th:unless="${e.status=='PENDING'}">
								<span th:text="${e.status}"></span>
							
							</span>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</section>
		
	</body>
</html>